<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" metadata-complete="true">
    <absolute-ordering />

    <display-name>WSO2 Identity Server Consent Management REST API</display-name>
    <description>WSO2 Identity Server Consent Management REST API</description>

    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                org.wso2.carbon.consent.mgt.endpoint.ConsentsApi
            </param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.address</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider,
                org.wso2.carbon.consent.mgt.endpoint.expmapper.ConsentEndpointExceptionMapper
            </param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
